= semantic_form_for resource do |form|

  = form.inputs do 
    = form.input :title, :input_html => {:size => 75}
    = form.input :contact_name, :input_html => {:size => 25}
    = form.input :contact_email, :input_html => {:size => 25}
    = form.input :description, :input_html => {:rows => 6}

  = form.buttons
