%h3 Admins
- collection.admins.each do |user|
  .episode
    %p.meta
      %span.date= raw "#{link_to user.full_name, user} - #{link_to 'edit', [:edit, user]}"
      %span.posted= "#{user.email}"

%br
      
%h3 Hosts
- collection.hosts.each do |user|
  .episode
    %p.meta
      %span.date= raw "#{link_to user.full_name, user} - #{link_to 'edit', [:edit, user]}"
      %span.posted= "#{user.email}"
      
%br

%h3 Guests
- collection.guests.each do |user|
  .episode
    %p.meta
      %span.date= raw "#{link_to user.full_name, user} - #{link_to 'edit', [:edit, user]}"
      %span.posted= "#{user.email}"
      
%br

%h3 Publicists
- collection.publicists.each do |user|
  .episode
    %p.meta
      %span.date= raw "#{link_to user.full_name, user} - #{link_to 'edit', [:edit, user]}"
      %span.posted= "#{user.email}"