= semantic_form_for resource do |form|
  = form.inputs do 
    = form.input :first_name
    = form.input :last_name
    = form.input :land_line_phone
    = form.input :cell_phone
    = form.input :email
    = form.input :bio, :input_html => {:rows => 10}
    - if current_user.super_user?
      - if !resource.new_record?
        - if resource.guest?
          = form.input :publicists, :collection => User.publicists.all
        - if resource.publicist?
          = form.input :guests, :collection => User.guests.all
        
      = form.input :role
    
    
  
  = form.buttons
