- collection.each do |episode|
  .episode
    %h2.title= link_to episode.title, episode
    %p.meta
      %span.date= episode.air_datetime.to_date
      %span.posted= "Guest: #{episode.guest.try(:full_name)}"
      - if current_user.has_permission_to?(:edit, episode)
        %span.posted
          = link_to "Edit", [:edit, episode]
    <div style="clear: both;">&nbsp;</div>
