:javascript
  $(document).ready(function($) {
    $("#form_questions_link").click(function(){
      $("#form_info").hide();
      $("#form_questions").show();
      $("#form_stories").hide();
    });
  
    $("#form_info_link").click(function(){
      $("#form_info").show();
      $("#form_questions").hide();
      $("#form_stories").hide();
    });
    
   $("#form_stories_link").click(function(){
      $("#form_info").hide();
      $("#form_questions").hide();
      $("#form_stories").show();
    });
  });
  
- (15 - @episode.questions.size).times { @episode.questions.build }
- (10 - @episode.stories.size).times { @episode.stories.build }

%h1
  %span#form_info_link
    = link_to "Episode Details", "#form_info_link"
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  %span#form_questions_link
    = link_to "Questions", "#form_questions_link"
  - if current_user.super_user?
    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
    %span#form_stories_link
      = link_to "Stories", "#form_stories_link"
%hr

- semantic_form_for @episode do |form|
  #form_info
    - form.inputs do
      - if current_user.super_user?
        = form.input :host, :collection => User.hosts.all
        = form.input :guest, :collection => User.guests.all
        =# form.input :air_datetime, :as => :datepicker
        = form.input :air_datetime
        =# form.input :recording_datetime, :as => :datepicker
        = form.input :recording_datetime


      = form.input :title
      = form.input :description
      
  - number = 0
  #form_questions{:style => "display:none"}
    - form.inputs :for => :questions do |question_form|
      - number += 1
      = question_form.input :body, :as => :text, :input_html => {:rows => 3}, :label=> number.to_s
      
  - if current_user.super_user?
    - number = 0
    #form_stories{:style => "display:none"}
      - form.inputs :for => :stories do |story_form|
        - number += 1
        = story_form.input :title
        = story_form.input :url
        = story_form.input :source
        = story_form.input :body, :as => :text


  = form.buttons
