%table{ :class =>"#{resource.class.to_s.downcase} detail" }
  = detail_row "Air Time: ", resource.air_datetime.to_s(:radio)
  - if resource.recording_datetime
    = detail_row "Recording Time: ", resource.recording_datetime.to_formatted_s(:radio)
  = detail_row "Tags: ", resource.tags.collect{|t| link_to(t.to_s, "/tags/#{t.name}") }.join(", ")
    
%p= simple_format(resource.description)

%h3= "Week In Review Links"
%hr
%ol#stories
  - resource.stories.each do |story|
    %li{:id => "story_#{story.id}"}
      - if current_user.try(:super_user?)
        %span.handle [drag]
      - if story.url.to_s.empty?
        = story.title
      - else
        = link_to story.title, story.url

%br
- if current_user.try(:super_user?)
  %h3= "Questions for #{link_to(resource.guest_name, resource.guest)} (#{mail_to(resource.guest.email, :email)})".html_safe
  %hr
  %ol#questions
    - resource.questions.each do |question|
      %li{:id => "question_#{question.id}"}
        - if current_user.try(:super_user?)
          %span.handle [drag]
        =question.body

  - if !resource.publicists.empty?
    %h3 Publicists
    %hr
    - resource.publicists.each do |publicist|
      = link_to publicist.to_s, publicist
      =raw "(#{mail_to(publicist.email, :email)})"
      %br
    