%p
  - if current_user.has_permission_to?(:edit, resource)
    = link_to "Edit", edit_resource_url(resource)
    |
    = link_to "Script", script_episode_path(resource, :format => :pdf)
  - if current_user.super_user?
    |
    = link_to "New", new_resource_url
    |
    = link_to "Destroy", resource_url(resource), :confirm => "Are you sure?", :method => :delete
    |
    = link_to "Email", email_episode_path(resource)
