<!DOCTYPE html>
%html
  %head
    %meta{ :content=>"text/html; charset=UTF-8", :"http-equiv" => "Content-Type"}
  %body
    %h2 Info:
    %ol
      %li 
        %b Show Title 
        = " - #{@episode.title} - Please let me know if you have a better idea for a title."
      %li
        %b Length of Interview 
        = "- please allocate one hour, but the interview should only take about 30 minutes."
      %li 
        %b Recording Date
        = " - #{@episode.recording_datetime} ET"
      %li 
        %b Air Date
        = " - #{@episode.air_datetime} ET"
      %li
        %b Call instructions
        = " - You will need to dial into into the station at #{@episode.guest_call_in_number} with the land line number provided."
        - if @episode.live?
          = "Since the show is live, please call in 5 or 10 minutes before the recording is scheduled to start."

    %h2 Things we need from you:
    %ol 
      - if @episode.guest.bio.empty?
        %li A brief bio of the guest 
      - if @episode.guest.land_line_phone.empty?  
        %li The land line phone number the guest will be calling in with, just in case there are problems calling.
      - if @episode.questions.empty?  
        %li A list of ten or more questions for us to ask the guest on the topic. 
      - if @episode.description.empty?
        %li Show Description (optional) - This is what we will use to go on the blog.