<!DOCTYPE html>
%html
  %head
    %title Radio
    
    = stylesheet_link_tag "application", "blitzer", "formtastic", "formtastic_changes"
    = javascript_include_tag "jquery", "jquery-ui", "jquery.sausage", "application" , "rails", "/jwplayer/jwplayer"
    = csrf_meta_tag
  
  %body
    #wrapper
      #header
        #logo
          %h1
            <a href="/">IMI's Tech Talk</a>
          %p educating the masses one byte at a time
          
      <!-- end #header -->
      #menu
        %ul
          = layout_menu_item("Episodes", :episodes)
          - if current_user and current_user.super_user?
            = layout_menu_item("Pitches", :pitches)
            = layout_menu_item("Users", :users)
            = layout_menu_item("Conferences", :conferences)
          = layout_menu_item("About", :about)
          = layout_menu_item("Contact", :contact)
          - if current_user
            = layout_menu_item("Logout", :logout)
          - else 
            = layout_menu_item("Login", :login)

      <!-- end #menu -->
      #html_page
        #page-bgtop
          #page-bgbtm
            #content
              - flash.each do |key, message|
                - if key == :notice
                  - key = :highlight
                - elsif key == :alert
                  - key = :error
                .ui-widget
                  %div{:class => "ui-state-#{key} ui-corner-all flash_message", :id => "flash_#{key}"}
                    %p
                      - if key == :error
                        %span.ui-icon.ui-icon-alert{:style => "float:left; margin-right: .3em;"}
                      - else
                        %span.ui-icon.ui-icon-info{:style => "float:left; margin-right: .3em;"}
                        
                      = message
                      
              
              = yield 
  			      
      <!-- end #content -->
      - cache(:sidebar) do 
        #sidebar
          %ul
            %li
              %h2 Upcoming Episodes
              %ul
                - Episode.where{air_datetime > Date.today}.each do |episode|
                  %li= link_to episode.shortened_title, episode, :class => "truncate"        
            %li
              %h2 Recent Episodes
              %ul
                - @recent_episodes.each do |episode|
                  %li= link_to episode.shortened_title, episode, :class => "truncate"
            
            %li
              %h2 Tag Cloud
              %p
                - tag_cloud(Episode.tag_counts.order("name"), %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
                  = link_to tag.name, "/tags/#{tag.name}", :class => css_class
                  
      <!-- end #sidebar -->
      <div style="clear: both;">&nbsp;</div>
  		
    <!-- end #page -->
    #footer
      %p
        Copyright (c) 2011 Information Methods Inc. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.

    <!-- end #footer -->